source https://nuget.org/api/v2

nuget Microsoft.AspNetCore.App
nuget Microsoft.Extensions.Primitives
nuget Newtonsoft.Json

group Test
    source https://nuget.org/api/v2

    nuget Microsoft.NET.Test.Sdk
    nuget MSTest.TestAdapter
    nuget MSTest.TestFramework
    nuget Moq